
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

/* Main heading for mood question. */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

/* Container for click-boxes */
.box-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

/*Click boxes for moods.*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.box:hover {
  background-color: #45a049;
}
